@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-secondary: #6b7280;
  --button-bg: #e5e7eb; 
  --button-text: #1f2937; 
  --button-hover: #d1d5db; 
  --correct-bg: #16a34a; 
  --incorrect-bg: #dc2626; 
  --navbar-bg: #dce4ec;
  --navbar-text: #171717;
  --clickable-bg: #ffffff;
  --clickable-hover: #e3e8ee;
  --card-bg: #e7e8e9;
  --card-border: #4b5563;
  --input-bg: #ffffff;
  --popup-bg: #f3f4f6;
  --popup-text: #1f2937;

}

.dark {
  --background: #353941;
  --foreground: #ededed;
  --foreground-secondary: #d1d5db;
  --button-bg: #374151; 
  --button-text: #f9fafb; 
  --button-hover: #8b9199; 
  --navbar-bg: #3a4250;
  --navbar-text: #f7fafc;
  --clickable-bg: #353941;
  --clickable-hover: #4b5563;
  --card-bg: #414855;
  --card-border: #f9fafb;
  --input-bg: #353941;
  --popup-bg: #2d3748;
  --popup-text: #f7fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.6s ease;
}